h1 {
  margin-top: 0;
  font-size: 5.62rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #4E944F;

}

h2 {
  font-size: 2.5rem;
padding-top: 10px;
  color: #4E944F;
  font-weight: normal;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Libre Bodoni', serif;
}

.one {
  background-color: #E9EFC0;
  position: relative;
  padding-top: 120px;
}

.two {
  background-color: white;
}

.three {
  background-color: #B4E197;
}

.cloud1 {
  position: absolute;
  top: 71px;
  right: 300px
}

.cloud2 {
  position: absolute;
  left: 300px;
}

.icons {
  height: 7%;
  width: 7%;
}

hr {
  border-style: dotted none none;
  width: 3%;
background-color: white;
  border-color: #069A8E;
 border-width: 5px;
  margin: 0 auto 0 auto;
opacity: 1;

}

.important {
  text-decoration: underline;
}

.highlight {
  font-size: 1.5rem;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
.skills{
  padding-top: 50px;
}
.contact-me{
  padding-top: 50px;
}
